# img
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tiff

# files
*.txt
*.zip
*.tar
*.pyc
*.db
*.whl

# tensorboard events
*.tfevents.*

*.csv
*.pth

# keep folder
!*/

/result/output_csv/*
!/result/output_csv/.gitkeep
